.cardEquipe{
    display: flex;
    flex-direction: column;
    border: 1px solid #B6B6B6;
    border-radius: 15px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 0.5rem 2rem;
}
.conteudoText{
    font-size: large;
    font-weight: 600;
    padding-bottom: 5%;
}
.titulo{
    font-weight: 600;
    color: #747474;
    font-size: large;
}
.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}
@keyframes rainbow {
    0% { stroke: red; }
    14% { stroke: orange; }
    28% { stroke: yellow; }
    42% { stroke: green; }
    57% { stroke: blue; }
    71% { stroke: indigo; }
    85% { stroke: violet; }
    100% { stroke: red; }
  }
  
.cameleon {
    fill: none;
    stroke-width: 10;
    stroke: red; /* Initial stroke color */
    animation: rainbow 5s linear infinite;
}