body{
    margin-top: 10px !important;
  }
.bodyBlogs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bodyNossaEquipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.descricaoNossaEquipe{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.blogColumnDetail{
    width: 20%;
    background-image: urL("../public/patinhasVerde.svg");
}
.telasLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8FFEA;
    height: 89.75vh;
}
body:has(.telasLogin) {
    overflow: hidden;
}
@media screen and (min-width:1600px) {
    .telasLogin{
        height: 100vh;
    }
    .bodyNossaEquipe{
        margin-top: 10rem;
    }
}
.divsNossaEquipe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}