.novaConsultaBody{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
.botao{
    border: none;
    padding: 10px 36px 10px 36px;
    border-radius: 14px;
    background-color: #CCE7D8;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.boxShadow{
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.267);
}
body:has(.novaConsultaBody){
    overflow: hidden;
}
.formConsulta{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 75%;
    width: 50%;
    border: 2px solid #649379;
    border-radius: 20px;
}
.formInput{
    width: 75%;
}
.formDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 38px;
    width: 75%;
}
.titulo{
    font-size: XX-LARGE;
    font-weight: 700;
    color: #649379;
    letter-spacing: 4px;
}
.resizeNone{
    resize: none;
}